<ion-view view-title="Estaciones">
  <ion-content>
  	 <div class="card">
  		<div class="item item-text-wrap">
	  				<h1>Estaciones locales</h1>
	  		<p>
	  			A principios de 2014 el Laboratorio de Investigación en Nuevas Tecnologías Informáticas (LINTI) puso en marcha un proyecto para integrar estaciones meteorológicas de la zona.<br><br> 
	  			Se trata de un programa que recaba información de las estaciones locales y las georreferencia en un mapa, con el objetivo de centralizar, representar y comparar la información sobre el  clima. 
	  		</p>

	  		<div class="row estaciones">
			  <div class="col col-20"><img src="img/estaciones/1.png" alt="estacion 1"/></div>
			  <div class="col col-20"><img src="img/estaciones/2.png" alt="estacion 2"/></div>
			  <div class="col col-20"><img src="img/estaciones/3.png" alt="estacion 3"/></div>
			  <div class="col col-20"><img src="img/estaciones/4.png" alt="estacion 4"/></div>
			  <div class="col col-20"><img src="img/estaciones/5.png" alt="estacion 5"/></div>
			</div>

			<button class="button button-block button-positive icon-left ion-android-map" ng-click="showStations()">
	 			 Ver estaciones
			</button>
			<br>
			<p>
				Las estaciones que implementen el sistema serán georreferenciadas en un mapa que concentra toda la información, a la cual se puede acceder desde una computadora, tablet, o celular. <br><br>Este sistema permite ver los valores actuales de los parámetros meteorológicos (temperatura, humedad, presión atmosférica, dirección y velocidad del viento) y además genera gráficos de datos históricos en un período de tiempo determinado.
			</p>

			
		</div>
  	</div>
  </ion-content>
</ion-view>