<ion-view view-title="Info Meteorológica">
  <ion-content>
    <div class="ultima-actualizacion" ng-if="actualizacion">
      <span>Última actualización: {{ medition.captured_at | date :'HH:mm'}}</span>
    </div>
    <ion-refresher
    pulling-text="Tire para refrescar..."
    on-refresh="doRefresh()">
    </ion-refresher>
    
    <ul id="mediciones">
      <li id="temperature" ng-click="toggleChart('temperature',$event)">
        <div class="shadow"></div>
        <i class="icon ion-thermometer"></i>
        <span class="label">Temperatura</span>
        <span class="value">{{medition.temperature}}<ion-spinner ng-if="medition.temperature == null" class="spinner spinner-light spinner-android"></ion-spinner>º</span>
        <div class="grafico" ng-class="{activo: measures.temperature.viewChart}">
            <canvas id="line" class="chart chart-line" data="measures.temperature.chartData"
              labels="measures.temperature.chartLabels" options="measures.temperature.options" legend="false" series="series"
              click="onClick">
            </canvas>
        </div>
      </li>
      <li id="humidity" ng-click="toggleChart('humidity',$event)">
        <div class="shadow"></div>
        <i class="icon ion-waterdrop"></i>
        <span class="label">Humedad</span>
        <span class="value">{{medition.humidity}}<ion-spinner ng-if="medition.humidity == null" class="spinner spinner-light spinner-android"></ion-spinner>%</span>
        <div class="grafico" ng-class="{activo: measures.humidity.viewChart}">
            <canvas id="line2" class="chart chart-line" data="measures.humidity.chartData"
              labels="measures.humidity.chartLabels" options="measures.humidity.options" legend="false" series="series"
              click="onClick">
            </canvas>
        </div>
      </li>
       <li id="bar" ng-click="toggleChart('bar',$event)">
        <div class="shadow"></div>
        <i class="icon ion-cube"></i>
        <span class="label">Presión</span>
        <span class="value">{{medition.bar}}<ion-spinner ng-if="medition.bar == null" class="spinner spinner-light spinner-android"></ion-spinner>hPa</span>
        <div class="grafico" ng-class="{activo: measures.bar.viewChart}">
            <canvas id="line3" class="chart chart-line" data="measures.bar.chartData"
              labels="measures.bar.chartLabels" options="measures.bar.options" legend="false" series="series"
              click="onClick">
            </canvas>
        </div>
      </li>
       <li id="wind" ng-click="toggleChart('wind_speed',$event)">
        <div class="shadow"></div>
        <i class="icon ion-leaf"></i>
        <span class="label">Vel. Viento</span>
        <span class="value">{{medition.wind_speed}}<ion-spinner ng-if="medition.wind_speed == null" class="spinner spinner-light spinner-android"></ion-spinner>Km/h</span>
        <div class="grafico" ng-class="{activo: measures.wind_speed.viewChart}">
            <canvas id="line3" class="chart chart-line" data="measures.wind_speed.chartData"
              labels="measures.wind_speed.chartLabels" options="measures.wind_speed.options" legend="false" series="series"
              click="onClick">
            </canvas>
        </div>
      </li>
      <li id="wind-dir" ng-click="toggleChart('wind_direction',$event)">
        <div class="shadow"></div>
        <i class="icon ion-arrow-up-a icon-direction-{{medition.wind_direction}}"></i>
        <span class="label">Dir. Viento</span>
        <span class="value">{{medition.wind_direction}}<ion-spinner ng-if="medition.wind_direction == null" class="spinner spinner-light spinner-android"></ion-spinner></span>
        <div class="grafico" ng-class="{activo: measures.wind_direction.viewChart}">
          <ul ng-repeat="direc in measures.wind_direction.chartData">
            <li  ng-repeat="line in direc track by $index"/>
              <i class="icon ion-arrow-up-a icon-direction-{{line}}" style="color:{{measures.wind_direction.color}}"></i>
              <span>{{measures.wind_direction.chartLabels[$index]}}</span>
            </li>
          </ul>
        </div>
      </li>
       <li id="sensation" ng-click="toggleChart('wind_chill',$event)">
        <div class="shadow"></div>
        <i class="icon ion-thermometer"></i>
        <span class="label">Sensación T.</span>
        <span class="value">{{medition.wind_chill}}<ion-spinner ng-if="medition.wind_chill == null" class="spinner spinner-light spinner-android"></ion-spinner>º</span>
        <div class="grafico" ng-class="{activo: measures.wind_chill.viewChart}">
            <canvas id="line3" class="chart chart-line" data="measures.wind_chill.chartData"
              labels="measures.wind_chill.chartLabels" options="measures.wind_chill.options" legend="false" series="series"
              click="onClick">
            </canvas>
        </div>
      </li>
       <li id="uv" ng-click="toggleChart('uv',$event)">
        <div class="shadow"></div>
        <i class="icon ion-record"></i>
        <span class="label">IUV</span>
        <span class="value">{{medition.uv}}<ion-spinner ng-if="medition.uv == null" class="spinner spinner-light spinner-android"></ion-spinner></span>
        <div class="grafico" ng-class="{activo: measures.uv.viewChart}">
            <canvas id="line3" class="chart chart-line" data="measures.uv.chartData"
              labels="measures.uv.chartLabels" options="measures.uv.options" legend="false" series="series"
              click="onClick">
            </canvas>
        </div>
      </li>
    </ul>
  </ion-content>
</ion-view>
